<div class="container">
  <h1 class="text-center">
    Thank You
  </h1>
  <h3 class="text-center">You will receive an email shortly about your order.</h3>
  <a href="/" class="btn text-center">Go Back Home</a>
</div>